.grid-container{ 
	display:grid;
	grid-template-columns: 321.328px  321.336px  321.336px;
	grid-template-rows: 50px  50px ;
	grid-gap:12px;
	text-align:center;
}

.grid-item{
	background-color:#f2f2f2;
	border:1px solid #ccc;
}